<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
  <div class="card position-relative m-3" th:fragment="card" th:each="article:${article}">
    <img onclick="goto()" th:src="${article.imageURL}" class="card-img-top " alt="..."/>
   <div class="row">
       <div class="col-4" >
           <a th:href="@{'/my-profile/'+${article.id}}" style="cursor: pointer"><img  class="image-profile border-3 border btn-primary position-absolute rounded-circle " th:src="${article.author.profileImage}" alt=""/></a>
       </div>
       <div class="col-6">
           <h3 th:text="${article.author.name}"></h3>
           <h5 class="text-warning">@[[${article.author.username}]]</h5>

       </div>
   </div>
       <div class="card-body">
    <h5 class="card-title " th:text="${article.title}"></h5>
           <div class="d-flex gap-2">
           <p class="card-title bg-warning rounded-2 p-1 text-white">[[${article.category.category}]]</p>
           </div>
    <p class="card-text" th:text="${article.article}"></p>
           <div class=" float-end ">
               <button class="btn btn-primary"  ><a>View</a></button>
               <button class="btn btn-warning"><a>Edit</a></button>
               <button class="btn btn-danger" onclick="confirm('are you sure?')"><a  th:href="@{'/deleteId/'+${article.articleID}}">Delete</a></button>
           </div>
  </div>
</div>

</body>
</html>