<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:object="${article}"  method="POST" enctype="multipart/form-data" th:fragment="CreatePost" class="form-group pt-3" th:action="@{/handleAddArticle}" >
        <div class="row bg-light "  >
    <div class="col-5 ps-5 pt-5" >
        <div class="w-75 ">
            <img class="w-100 " id="output-image" src="https://th.bing.com/th/id/OIP.FjLkalx51D8xJcpixUGJywHaE8?pid=ImgDet&rs=1" alt="">
            <input class="w-100 mt-2" name="file"  type="file" onchange="post(event)">
        </div>
    </div>

    <div class="col-7 pe-5">
            <h5>Create a New Post</h5>
            <div class="">
                <label  class="fs-6 d-block">Post Title</label>
                <input class="w-100 form-control" th:field="*{title}" type="text">
                <div class="form-text text-danger" th:errors="*{title}"></div>
            </div>
            <input type="hidden" th:field="*{id}">
            <div class="">
                <label  class="fs-6 d-block">Description</label>
                <textarea th:field="*{description}" class="form-control " ></textarea>
            </div>
            <div class="d-flex justify-content-between">
                <div class="">
                    <label  class="fs-6 d-block">Author</label>
                        <select th:field="*{authorId}" class="form-select form-select-lg mb-3 w-100" aria-label=".form-select-lg example">
                        <option th:each="author:${author}" th:value="${author.id}" th:text="${author.name}"></option>
                    </select>

                </div>
                <div class="">
                    <label  class="fs-6 d-block">Categories</label>
                    <div >
                    <div class="bg-white" >
                        <select th:field="*{categoryId}" class="form-select" size="3" aria-label="size 3 select example">
                            <option class="" th:each="category : ${category}" th:value="${category.id}" th:text="${category.category}"></option>
                        </select>
                    </div>
                    </div>
                </div>
            </div>
        <form action="" method="POST">
            <div class="mt-2">
                <button class="btn btn-warning" type="submit"> Post Article </button>
                <button class="btn btn-danger"> Cancel</button>
            </div>
        </form>

    </div>

</div>
    </form>
</body>
</html>